@import url('https://fonts.googleapis.com/css2?family=Lexend+Deca:wght@100..900&display=swap');

body {
  background:
    radial-gradient(circle at 20% 20%, #6366f1 6%, transparent 40%),
    radial-gradient(circle at 40% 30%, #4ade80 5%, transparent 40%),
    radial-gradient(circle at 60% 25%, #c084fc 7%, transparent 40%),
    radial-gradient(circle at 80% 20%, #4ade80 5%, transparent 40%),

    radial-gradient(circle at 25% 70%, #c084fc 6%, transparent 40%),
    radial-gradient(circle at 45% 80%, #6366f1 5%, transparent 40%),
    radial-gradient(circle at 65% 75%, #4ade80 6%, transparent 40%),
    radial-gradient(circle at 85% 70%, #c084fc 5%, transparent 40%);

  background-color: #f1f5f9;
  background-attachment: fixed;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
}

/* 
body {
    background: white;
} */

* {
    font-family: 'Lexend Deca', sans-serif;
    box-sizing: border-box;
}