@import url('https://fonts.googleapis.com/css2?family=Lexend+Deca:wght@100..900&display=swap');

body {
  background: url("https://raw.githubusercontent.com/lucasromerodb/liquid-glass-effect-macos/refs/heads/main/assets/flowers.jpg");
  background-position: center center;
  background-size: cover;
  background-repeat: no-repeat;
  margin: 0;
}

/* body {
    background: white;
} */

* {
  box-sizing: border-box;
  font-family: 'Lexend Deca', sans-serif;
}